page-list {
    
}
.fond {
    background-image:url('assets/imgs/fond.jpg');
    background-attachment:fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex: 1;
    flex-direction: column;
}    